# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# code source highlighting
[ -x /usr/bin/src-hilite-lesspipe.sh ] && export LESSOPEN="| /usr/bin/src-hilite-lesspipe.sh %s"
export LESS=" -R "

# coloured GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

export PATH_TO_DEV="$HOME/Dev"

#NVM
[ -x "$HOME/.nvm" ] && export NVM_DIR="$HOME/.nvm"
[ -x "/atea/home/atearoot" ] && export NVM_DIR="/atea/home/atearoot/.nvm" #bug with nvm and linked directories
[ -s "$NVM_DIR/nvm.sh" ] && source "$NVM_DIR/nvm.sh"

#GO
[ -x "$PATH_TO_DEV/go" ] && export GOPATH="$PATH_TO_DEV/go" && export PATH="$GOPATH:$PATH"

# ORACLE XE
[ -x "/u01/app/oracle/product/11.2.0/xe" ] && export TWO_TASK="localhost:1521/XE"
# ORACLE 12.2
[ -x "/u01/app/oracle/12.2.0.1/atea" ] && export TWO_TASK="localhost:1521/orcl"
# ORACLE XE 18.4
[ -x "/opt/oracle/product/18c/dbhomeXE" ] && export TWO_TASK="localhost:1521/orcl"
# SQLCL
[ -x "/opt/sqlcl/bin" ] && export SQL_PATH="/opt/sqlcl/bin" && export PATH="$SQL_PATH:$PATH"
unset ORACLE_HOME # for sqlcl sealed jdbc error

# INFORMIX node
[ -x "/opt/IBM/informix" ] && export INFORMIXDIR="/opt/IBM/informix"

# SDKMAN
[ -x $HOME/.sdkman ] && export SDKMAN_DIR="$HOME/.sdkman"
[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ] && source "$HOME/.sdkman/bin/sdkman-init.sh"

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".exports.local" ] && source ".exports.local"
